<!-- If there are any errors immediately open the dropdown so user can see form -->
<% if resource.errors.any? %>
  <script type="text/javascript">
    $(document).ready(function(){
      $('#demo').collapse('show');
    });
  </script>
<% end %>

<div class="title-header-1">
</div>
      
<div class="container">
  <div class="blockquote-box clearfix col-md-12" style="padding-bottom: 10px; margin-top: -75px;">
    <div class="col-md-12">
      <p style="text-align:left;">To register for this webinar please complete the following information:</p>
      <%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), html: { class: 'form-horizontal'}) do |f| %>
      <p style="text-align:left;">Are you a healthcare professional? Please select either yes or no:</p>
      <br />
      <button type="button" class="btn btn-primary btn-large" data-toggle="collapse" data-target="#demo">Yes</button>
      <!-- Button trigger modal -->
      <a data-toggle="modal" href="#myModal" class="btn btn-danger btn-large">No</a>
      </br />
    </div>

    <br />

    <div id="demo" class="collapse out">
      <div class="col-md-12">
        <br />
        <hr>
      </div>
        <div class="col-md-6">
          <br />
          <%= f.input :name, :autofocus => true, label: "Name:" %>
          <br />
          <%= f.input :email, :autofocus => true, label: "Work email address:"%>
          <br />
          <%= f.input :company, :autofocus => true, label: "Place of work:" %>
        </div>
        <div class="col-md-6">
          <br />
          <%= f.input :job, :autofocus => true, label: "Job title:" %>
          <br />
          <%= f.input :password, label: "Password:" %>
          <br />
          <%= f.input :password_confirmation, label: "Password confirmation:" %>
        </div>
        <div class="col-md-6">
          <br />
          <h6>Please tick this box if you permit Boehringer Ingelheim to send you two<br /> reminder emails prior to the live webinar and an email when the webinar <br />is archived for viewing on the website.</h6>
          <%= f.input :reminder, :as => :boolean, :label => "Accept", :input_html => { :checked => "unchecked", style: "margin-left: 60px; margin-top: -29px;" } %>
        </div>
        <div class="col-md-6">
          <br />
          <h6>Please tick this box if you permit Boehringer Ingelheim to contact you in <br />the future regarding other similar activities.</h6>
          <%= f.input :future, :as => :boolean, :label => "Accept", :input_html => { :checked => "unchecked", style: "margin-left: 60px; margin-top: -29px;" } %>  
        </div>
        <br />          
        <div class="col-md-12" align="left" style ="margin-bottom: 25px;">
          <p>Once you have registered, a confirmation email will be sent to you.</p>
          <br />
          <%= f.button :submit, "Submit", class: 'btn btn-primary btn-large' %>
        </div>
      </div> <!-- col-md-6 -->
      <br />
      <div class="col-md-12">
        <%= render 'layouts/kfooter' %>
      </div>
  </div><!-- demo -->
  <br />
</div>
  <% end %>

<!-- Modal to show if not a healthcare professional -->
<div class="modal fade" style="margin-top: 200px;" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <h4><span style="color: #3787ad">Unfortunately as you are not a healthcare professional you are not permitted to view these webinars.</span></h4>
      </div>
      <div class="modal-footer">
        <%= link_to "Close", root_path %>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
</div>
</div>