<div class="title-header-1">
	<!-- INSERT SLIDER -->
</div>

<div class="container">
  	<div class="blockquote-box clearfix col-md-12" align="left" style="margin-top:-75px;">

	    <h3 style="color: #3787ad; margin-top: 5px;">Webinar Feedback Form</h3>
	    <!-- <h3 style="color: #3787ad; margin-top: 5px;">Interactive Questions</h3> -->
	    <hr>

	    <!-- <p>INSERT COPY HERE</p> -->
	    <p>We would be very grateful if you could please take a minute to provide some feedback regarding the webinar you have recently viewed.</p>

		<!-- flash_notice to show if form submission is successful -->
		<div class="alert alert-success" id="form-success" style="display: none;">
			<strong>Thank you for your feedback.</strong>
		</div>

		<!-- flash_notice to show if form submission is unsuccessful -->
		<div class="alert alert-error" id="form-error" style="display: none;">
			<strong>Please fill in all fields.</strong>
		</div>

		<br />


		<%= simple_form_for @feedback, :url => feedback_path, method: :post, html: { class: "form-horizontal"} do |form| %>

		<h4 style="color: #3787ad;">Please indicate which webinar you are providing feedback about:</h4>
		
		<div class="container">

		<%= form.input :lecture, as: :radio_buttons, collection: ['National Review of Asthma Deaths (NRAD) one year on: Improving asthma diagnosis and reducing hospital admissions', 'The PRIMIS Asthma Care Audit Tool: live demonstration', 'Inhaler education - does it make a difference?'], label: false %>

		</div>

		<br />

		<h4 style="color: #3787ad;">Q1: How relevant to your day-to-day clinical practice did you find the presented information?</h4>
		
		<div class="container">

		<%= form.input :relevance, as: :radio_buttons, collection: ['Very relevant', 'Somewhat relevant', 'Not at all relevant'], label: false %>
		
		</div>

		<br />

		<h4 style="color: #3787ad;">Q2: How did you find the volume of information presented?</h4>

		<div class="container">
				
		<%= form.input :info_presented, as: :radio_buttons, collection: ['Too much', 'About right', 'Too little'], label: false %>

		</div>
		
		<br />


		<h4 style="color: #3787ad;">Q3: How likely is it that you will change your clinical practice as a result of what you have learned from this webinar?</h4>

		<div class="container">

		<%= form.input :likelihood_change, as: :radio_buttons, collection: ['Very likely', 'Quite likely', 'Unlikely'], label: false %>

		</div>
		
		<br />

		<p>Please explain your response below:</p>
		
		<%= form.input :body, label: false, required: false, as: :text, input_html: { rows: "3" } %>

		<br />

		<h4 style="color: #3787ad;">Q4: How did you find the technical quality of the webinar?</h4>

		<div class="container">

		<%= form.input :technical, as: :radio_buttons, collection: ['Good', 'Satisfactory', 'Poor'], label: false %>

		</div>

		<br />

		<p>Please add any further comments below:</p>
		
		<%= form.input :comment, label: false, required: false, as: :text, input_html: { rows: "3" } %>
			  				
		<br />

		<h4 style="color: #3787ad;">Q5: Do you have any suggestions for future webinars?</h4>

		<p>Please add any suggestions below:</p>

		<%= form.input :future, label: false, required: false, as: :text, input_html: { rows: "3" } %>
			  
		<br />

		<h4 style="color: #3787ad;">Q6: Are there any follow-up activities from the meeting that you would find useful?</h4>

		<p>Please add any suggestions below:</p>

		<%= form.input :follow, label: false, required: false, as: :text, input_html: { rows: "3" } %>
			  
		<br />
			  
		<p>Thank you for taking the time to complete this evaluation form.</p>
			  
		<br />

		<fieldset class="actions">
		<%= form.submit "Submit", class: 'btn btn-primary btn-large' %>
		</fieldset>
		
		<% end %> 

		<br />

		<%= render 'layouts/qfooter' %>
		
	</div>
</div>
