<% if user_signed_in? %>

    <div class="jumbotron" style="padding: 20px 72px 20px 68px;">
        <h1>Prostate Cancer Lunchtime Webinars</h1>
        <h4><i>A multidisciplinary approach to prostate cancer understanding and management</i></h4>
        <br>
        <h5>Please login on January 15, 2014 at 13:00 to watch</h5><h5>John Doe from Astellas present a live webinar entitled:</h5>
        <br>
        <h3><span style="color: #A72B4D">Webinar Title</span></h3>
    </div>

<% else %>

    <!-- flash_notice to show if form submission is unsuccessful -->
    <!-- <div class="alert alert-error" id="form-error" style="display: none;">
        <strong>Please fill in all fields and confirm that you are a healthcare professional. These webinars are intended for healthcare professionals only.</strong>
    </div> -->

<div class="jumbotron" style="padding: 20px 72px 20px 68px;">
     <%= render 'layouts/title' %>


  <br>
  <h4>To register for this webinar series please complete the following information:</h4>
<div class="login span6">

    <%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), html: { class: 'form-horizontal'}) do |f| %>

    <%= f.input :name, :autofocus => true %>
    <%= f.input :email, :autofocus => true, label: "Work Email"%>
    <%= f.input :company, :autofocus => true, label: "Place of Work" %>
    <%= f.input :job, :autofocus => true, label: "Job Title" %>
    <%= f.input :password %>
    <%= f.input :password_confirmation %>

        <div class="login span6 offset2">

        <h6>Please tick this box if you permit two reminder emails to be sent to you prior to each live webinar and also again once each webinar has been archived for viewing on the website.</h6>
            <%= f.input :reminder, :as => :boolean, :label => "Accept", :input_html => { :checked => "checked", class: 'left-aligned-checkbox' } %>

        <h6>Please tick this box if you are happy to be contacted by Astellas Oncology in the future.</h6>
            <%= f.input :future, :as => :boolean, :label => "Accept", :input_html => { :checked => "checked" } %>

        <br>
          <p>Are you a healthcare professional? Please select either yes or no:</p>

          <div class="marketing">
            <%= f.button :submit, "Yes", class: 'btn btn-primary btn-large' %>
            <!-- Button trigger modal -->
            <a data-toggle="modal" href="#myModal" class="btn btn-danger btn-large">No</a>
          </div>

          <br>
  <!-- Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          <h4><span style="color: rgb(167, 43, 77)">Unfortunately as you are not a healthcare professional you are not permitted to view these webinars.</span></h4>
        </div>
        <div class="modal-footer">
          <%= link_to "Please click here to close the web page", "http://astellas.eu", class: 'btn btn-primary btn-large' %>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
        </div>

<% end %>
</div>
    <div class= "bird">
        <img src="assets/bird_oncology.png"/>
    </div>
</div>
<% end %>

