<% if user_signed_in? %>

<div class="title-header-1">

</div>

<div class="container">
    <div class="blockquote-box clearfix col-md-12" align="left" style="padding-bottom: 10px; margin-top:-75px;">
        
        <h3 style="color: #3787ad;">Webinars</h3>

        <hr>
        <br />

        <div class="row">
            <div class="col-lg-3" align="center">
              <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="200" height="200">
            </div>
            <div class="col-lg-9">
              <h3>National Review of Asthma Deaths (NRAD) one year on: Improving Asthma diagnosis and reducing hospital admissions</h3>
              <p>8<sup>th</sup> July 2015 at 12.30-13.15</p>
              <p>Join Dr Mark Levy, the NRAD Clinical Lead, as he presents his thoughts on the 2014 National Report of Asthma Deaths one year after its publication, and what can be learnt from it. He will examine the next steps, the importance of treating Asthma as a chronic disease, and the need for ongoing assessment and control. Dan Murphy from Asthma UK will be co-presenting the meeting and will share the patient perspective of NRAD one year on.</p>
              <br />
              <p><%= link_to "Live Webcast", live_path, class: "btn btn-primary" %>
              <%= link_to "Archived Webcast", archive_path, class: "btn btn-danger" %></p>
              <br />
            </div>
        </div>
        <hr>
        <br />
        <div class="row">
            <div class="col-lg-3" align="center">
              <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="200" height="200">
            </div>
            <div class="col-lg-9">
              <h3>The PRIMIS Asthma audit tool live demonstration</h3>
              <p>16<sup>th</sup> July 2015 at 12.30-13.15</p>
              <p>Join Lauren Fensome from PRIMIS as she gives an introduction to the PRIMIS asthma care audit tool, after which she will give a live demonstration on how to use the tool to the webinar attendees. This webinar will follow-on from the previous webinar in the series by Dr Mark Levy and Dan Murphy, addressing National Review of Asthma Deaths (NRAD) 2014 and the unmet need for treatments. This demonstration will also run through particular filters or searches relevant to clinical practice. This webinar will provide practical insight on the tool in order to help practices optimise management and care of patients.</p>
              <br />
              <p><%= link_to "Live Webcast", live_path, class: "btn btn-primary" %>
              <%= link_to "Archived Webcast", archive_path, class: "btn btn-danger" %></p>
              <br />
            </div>
        </div>
        <hr>
        <br />
        <div class="row">
            <div class="col-lg-3" align="center">
              <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="200" height="200">
            </div>
            <div class="col-lg-9">
              <h3>Inhaler education - does it make a difference?</h3>
              <p>9<sup>th</sup> September 2015 at 12.30-13.15</p>
              <p>Join Monica Fletcher, Chief Executive of Education for Health, as she provides and overview on inhaler education in asthma patients, specifically regarding the effect of this education on outcomes. This presentation will follow-on from the previous two webinars in the series, which will discuss unmet needs for adequate treatments and the use of the PRIMIS asthma care audit tool.</p>
              <br />
              <p><%= link_to "Live Webcast", live_path, class: "btn btn-primary" %>
              <%= link_to "Archived Webcast", archive_path, class: "btn btn-danger" %></p>
              <br />
            </div>
        </div>
                    <%= render 'layouts/newfooter' %>

</div>
        <br />

        <div class="col-md-12">
        </div>

    </div>
</div>

<% else %>
  <%= render 'layouts/preregistration' %>
<% end %>