<% if user_signed_in? %>

<div class="jumbotron" style="padding: 20px 72px 20px 68px;">
  <%= render 'layouts/title' %>
  <br>
  <br>

<div class="span8 offset1">
<div class="accordion" id="accordion2">
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
        <h5><span style="color: #A72B4D">Working together: organising care <br>for optimal management of prostate cancer*</span></h5>

         <h6><strong><span style="color: #939598">
          Dr  Hughes, Consultant in Clinical Oncology and <br>Ms Louisa Fleure, Advanced Prostate Cancer Specialist Nurse, Guy's Hospital, London
        </span></strong></h6>

        <h6><span style="color: #A72B4D">Tuesday 26<sup>th</sup> November 2013 at 12.30-13.15</span></h6>

      </a>
              <i>*This session will include a discussion regarding the enzalutamide clinical data.</i>

    </div>
    <div id="collapseOne" class="accordion-body collapse in">
      <div class="accordion-inner">

            <!-- <iframe src="//player.vimeo.com/video" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> -->
            <!-- <img src="assets/archived-webcast.png"/> -->
            <!-- <%= link_to "Leave Feedback", evaluation_path, class: "btn btn-danger" %> -->

            <br>
          <div class="row">
            <div class="span2">
              <br>
              <img src="assets/dr-simon-hughes.jpg" class="img-polaroid-orange">
              <h4>Dr Simon Hughes</h4>
              <img src="assets/louisa-fleure.jpg" class="img-polaroid-orange">

            </div>

            <div class="next-webinar span5">

              <p><strong>Summary:</strong></p>
              <p>Dr Simon Hughes and Ms Louisa Fleure will provide expert first-hand insights regarding the successful management of patients with prostate cancer in a multidisciplinary team (MDT) setup.</p>
                <br>
                  <p><strong>Topics:</strong></p>
                  <p><span style="color: #939598"><li>The multidisciplinary team (MDT) structure and roles</li></span></p>

                  <p><li>Managing patients with differing needs in an MDT environment</li></p>

                  <p><ul><li>Newly diagnosed patients</li></p>

                  <p><li>Patients with advanced disease</li></ul></p>

                  <p><li>Meeting the challenges of a ‘working’ MDT at Guy’s Hospital</li></p>

                </div>

              </div>
          </br>
          <br>
      </div>
    </div>
  </div>

<hr>

<br>

  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
        <h5><span style="color: #A72B4D">Maximising quality of life for patients <br>with advanced prostate cancer*</span></h5>

        <h6><strong><span style="color: #939598">
             Mr Lawrence Drudge-Coates, Uro-Oncology Clinical Nurse Specialist <br>and Honorary Lecturer King’s College Hospital NHS Foundation Trust, London
        </span></strong></h6>

        <h6><span style="color: #A72B4D">Wednesday 15<sup>th</sup> January 2014 at 12.30-13.15</span></h6>
      </a>
        <i>*This session will include a discussion regarding the enzalutamide clinical data.</i>
    </div>
    <div id="collapseTwo" class="accordion-body collapse">
      <div class="accordion-inner">

           <!-- <iframe src="//player.vimeo.com/video" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> -->
            <!-- <img src="assets/archived-webcast.png"/> -->
            <!-- <%= link_to "Leave Feedback", evaluation_path, class: "btn btn-danger" %> -->


          <div class="row">
            <div class="span2">
              <br>
              <img src="assets/lawrence-druge-coates.jpg" class="img-polaroid">
            </div>

            <div class="next-webinar span5">
          <p><strong>Summary:</strong></p>
          <p>Mr Lawrence Drudge-Coates will discuss how balancing quantity and quality of life is a key factor in a patient’s choice of treatment, particularly as the number of treatment options is increasing significantly both in quantity and complexity.</p>
            <br>
              <p><strong>Topics:</strong></p>
              <p><li>Impact on quality of life of treatments used in advanced prostate cancer</li></p>

              <p><li> Management of side-effects of treatments used in advanced prostate cancer</li></p>

              <p><li>Helping patients balance quality and quantity of life</li></p>

            </div>

          </br>

          <br>
      </div>
    </div>
  </div>

<hr>
<br>

  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
        <h5><span style="color: #A72B4D">Androgens and prostate cancer: <br>source, role and management*</span></h5>

        <h6><strong><span style="color: #939598">
             Dr Amit Bahl, Clinical Director and Consultant Oncologist <br>Bristol Haematology and Oncology Centre, University Hospitals Bristol
        </span></strong></h6>

          <h6><span style="color: #A72B4D">Thursday 6<sup>th</sup> March 2014 at 12.30-13.15</span></h6>
      </a>
      <i>*This session will include a discussion regarding the enzalutamide clinical data.</i>
    </div>
    <br>
    <div id="collapseThree" class="accordion-body collapse">
      <div class="accordion-inner">

       <!-- <iframe src="//player.vimeo.com/video" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> -->
            <!-- <img src="assets/archived-webcast.png"/> -->
            <!-- <%= link_to "Leave Feedback", evaluation_path, class: "btn btn-danger" %> -->


        <div class="row">
          <div class="span2">
            <br>
            <img src="assets/amit-bahl.jpg" class="img-polaroid">
        </div>

        <div class="next-webinar span5">
          <p><strong>Summary:</strong></p>
          <p>Dr Amit Bahl will provide an overview of the role of androgens in prostate cancer and how different treatment options, old and new, can modulate the production or action of androgens and reduce the progression of disease.</p>
            <br>
              <p><strong>Topics:</strong></p>
              <p><li>Sites of androgen production and its effect on prostate cancer</li></p>

              <p><li>Treatments that affect androgen production or action</li></p>

              <p><li> Enzalutamide clinical trial data and clinical experience</li></p>

            </div>
      </div>
    </div>
  </div>

</div>
</div>
</div>

<% else %>

    <!-- flash_notice to show if form submission is unsuccessful -->
    <!-- <div class="alert alert-error" id="form-error" style="display: none;">
        <strong>Please fill in all fields and confirm that you are a healthcare professional. These webinars are intended for healthcare professionals only.</strong>
    </div> -->

<div class="jumbotron">
  <%= render 'layouts/title' %>
  <br>
  <br>
    <h4>To register for this webinar series please complete the following information:</h4>
  
  <div class="col-sm-6 col-sm-offset-3 well">

    <%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), html: { class: 'form-horizontal'}) do |f| %>

    <%= f.input :name, :autofocus => true, label: "Name:" %>
    <%= f.input :email, :autofocus => true, label: "Work email address:"%>
    <%= f.input :company, :autofocus => true, label: "Place of work:" %>
    <%= f.input :job, :autofocus => true, label: "Job title:" %>
    <%= f.input :password, label: "Password:" %>
    <%= f.input :password_confirmation, label: "Password confirmation:" %>

        <div class="login span6 offset2">

        <h6>Please tick this box if you permit Astellas Oncology to send you two reminder emails prior to each live webinar, an email when each webinar is archived for viewing on the website and an email when a new webinar is added to the programme.</h6>
            <%= f.input :reminder, :as => :boolean, :label => "Please tick this box if you permit Astellas Oncology to send you two reminder emails prior to each live webinar, an email when each webinar is archived for viewing on the website and an email when a new webinar is added the programme.", :input_html => { :checked => "checked", class: 'left-aligned-checkbox' } %>

        <h6>Please tick this box if you permit Astellas Oncology to contact you in the future regarding other similar activities.</h6>
            <%= f.input :future, :as => :boolean, :label => "Accept", :input_html => { :checked => "checked" } %>

        <br>

        <p>Once you have registered, a confirmation email will be sent to you.</p>

        <br>
          <p>Are you a healthcare professional? Please select either yes or no:</p>

          <div class="marketing">
            <%= f.button :submit, "Yes", class: 'btn btn-primary btn-large' %>
            <!-- Button trigger modal -->
            <a data-toggle="modal" href="#myModal" class="btn btn-danger btn-large">No</a>
          </div>

          <br></br>
  <!-- Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          <h4>Unfortunately as you are not a healthcare professional you are not permitted to view these webinars.</h4>
        </div>
        <div class="modal-footer">
          <%= link_to "Please click here to close the web page", "http://astellas.eu", class: 'btn btn-primary btn-large' %>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
        </div>

<% end %>
</div>

</div>
<% end %>

