<% if user_signed_in? %>

<div class="jumbotron">
  <%= render 'layouts/title' %>

    <div class="blockquote-box clearfix col-md-10 col-md-offset-1" style="padding-bottom: 10px;">
      <h3>4th July 2014 12.30pm – 1.15pm</h3>
      <br />
      <p style="font-size: 18px;">Join Professor Marcus Drake, Consultant Urological Surgeon from Southmead Hospital, Bristol to discuss optimal management of LUTS/BPH in primary care. Professor Drake will review a consensus statement*  formulated by a group of urologists and GPs in order to provide clear guidance on the management of male LUTS in primary care in line with current NICE guidance.</p>
      <br/>
      <div class="square pull-left">
        <img src="assets/marcus-drake.png" height="150px" width="150px;" alt="" class="" />
      </div>
        <p style="font-size: 18px;">Professor Drake will also introduce Vesomni™ (solifenacin 6mg + tamsulosin 0.4mg), a new option where combination therapy is indicated in male LUTS patients with moderate to severe storage and voiding symptoms associated with BPH who do not respond adequately to treatment with monotherapy.</p>
        <br />
        <div class="row">
          <div class="marketing" align="center" style="margin-top: 25px;">
          <%= link_to "Live Webcast", "#", class: "btn btn-primary" %>
          <%= link_to "Archived Webcast", archive_path, class: "btn btn-danger" %> 
          <br />
        </div>

        <br />
        <br />

        <%= render 'layouts/footer' %>
      </div>
      </div>
    </div>

  

<% else %>
  <%= render 'layouts/preregistration' %>
<% end %>
