<% if user_signed_in? %>

<div class="title-header-1">
  INSERT SLIDER
</div>
    
<div class="container">
  <div class="blockquote-box clearfix col-md-12" style="padding-bottom: 10px; margin-top:-75px;">
    <div class="accordion" id="accordion2">
      <div class="accordion-group">
        <div class="accordion-heading">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
          
          <!-- <div class="col-md-8"> -->
          <h4><strong><span style="color: #">National Review of Asthma Deaths (NRAD) one year on: Improving Asthma diagnosis and reducing hospital admissions</span></strong></h4>
          <!-- <p><span style="color: #4d4d4d">Dr Mark Levy, the NRAD Clinical Lead and Dan Murphy, Asthma UK</span></p> -->

          <p><span style="color: #4d4d4d">8<sup>th</sup> July 2015 at 12.30-13.15</span></p>
        
          <!-- </div> -->

          <!-- <div class="col-md-4">
          <img src="http://placehold.it/350x150">
          </div> -->

          </a>
        </div>

        <div id="collapseOne" class="accordion-body collapse in">
          <div class="accordion-inner">

            <br />

            <p>Join Dr Mark Levy, the NRAD Clinical Lead, as he presents his thoughts on the 2014 National Report of Asthma Deaths one year after its publication, and what can be learnt from it. He will examine the next steps, the importance of treating Asthma as a chronic disease, and the need for ongoing assessment and control. Dan Murphy from Asthma UK will be co-presenting the meeting and will share the patient perspective of NRAD one year on.</p>

            <!-- <iframe src="//player.vimeo.com/video" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> -->
            <!-- <img src="assets/archived-webcast.png"/> -->
            <!-- <%= link_to "Leave Feedback", evaluation_path, class: "btn btn-danger" %> -->

            <br />
          
            <div class="container">              

            </div>      
          </div>
        </div>
      </div>
    </div>

<hr>

<br>

  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
        
          <div class="col-md-3">
            <img src="http://www.placehold.it/300x195"></img>
          </div>
          
          <div class="col-md-9">
            <h4><strong>The PRIMIS Asthma audit tool live demonstration</span></h4>

            <!-- <p><span style="color: #4d4d4d">Dr Mark Levy, the NRAD Clinical Lead and Dan Murphy, Asthma UK</span></p> -->

            <p><span style="color: #4d4d4d">16<sup>th</sup> July 2015 at 12.30-13.15</span></p>

          </div>

        </a>

    </div>

    <br />

    <div id="collapseTwo" class="accordion-body collapse">
      <div class="accordion-inner">

            <br />

            <p>Join Lauren Fensome from PRIMIS as she gives an introduction to the PRIMIS asthma care audit tool, after which she will give a live demonstration on how to use the tool to the webinar attendees. This webinar will follow-on from the previous webinar in the series by Dr Mark Levy and Dan Murphy, addressing National Review of Asthma Deaths (NRAD) 2014 and the unmet need for treatments. This demonstration will also run through particular filters or searches relevant to clinical practice. This webinar will provide practical insight on the tool in order to help practices optimise management and care of patients.</p>
           <!-- <iframe src="//player.vimeo.com/video" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> -->
            <!-- <img src="assets/archived-webcast.png"/> -->
            <!-- <%= link_to "Leave Feedback", evaluation_path, class: "btn btn-danger" %> -->

            <br />
            
      </div>
    </div>
  </div>

<hr>
<br>

  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
          
          <div class="row">

          <div class="col-md-3">
            <img src="http://www.placehold.it/300x195"></img>
          </div>
          
          <div class="col-md-9">
            <h4><strong>Inhaler education - does it make a difference?</strong></h4>

            <!-- <p><span style="color: #4d4d4d">Dr Mark Levy, the NRAD Clinical Lead and Dan Murphy, Asthma UK</span></p> -->

            <p><span style="color: #4d4d4d">9<sup>th</sup> September 2015 at 12.30-13.15</span></p>
          </div>

        </div>

      </a>
    </div>
    
    <br />

    <div id="collapseThree" class="accordion-body collapse">
      <div class="accordion-inner">

       <!-- <iframe src="//player.vimeo.com/video" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> -->
            <!-- <img src="assets/archived-webcast.png"/> -->
            <!-- <%= link_to "Leave Feedback", evaluation_path, class: "btn btn-danger" %> -->

          <p>Join Lauren Fensome from PRIMIS as she gives an introduction to the PRIMIS asthma care audit tool, after which she will give a live demonstration on how to use the tool to the webinar attendees. This webinar will follow-on from the previous webinar in the series by Dr Mark Levy and Dan Murphy, addressing National Review of Asthma Deaths (NRAD) 2014 and the unmet need for treatments. This demonstration will also run through particular filters or searches relevant to clinical practice. This webinar will provide practical insight on the tool in order to help practices optimise management and care of patients.</p>          

    </div>
  </div>


    </div>

         <%= render 'layouts/newfooter' %> 

</div>

<% else %>
  <%= render 'layouts/preregistration' %>
<% end %>
