<div class="jumbotron">
	<%= render 'layouts/title' %>
</div>

<div class="container">
      <div class="blockquote-box clearfix col-md-8 col-md-offset-2" align="left" style="padding-bottom: 10px; margin-top:-25px;">
	    <h3>Webinar Feedback Form</h1>
	    <h5><span style="color: rgb(167, 43, 77)">We’d be very grateful if you could please just spend one minute providing feedback regarding the webinar you have recently watched.</span></h5>

			<!-- flash_notice to show if form submission is successful -->
		<div class="alert alert-success" id="form-success" style="display: none;">
			<strong>Thank you for your feedback.</strong>
		</div>

		<!-- flash_notice to show if form submission is unsuccessful -->
		<div class="alert alert-error" id="form-error" style="display: none;">
			<strong>Please fill in all fields.</strong>
		</div>

		<br />

	<div class="">
			<%= simple_form_for @secondinteractive, :url => secondinteractive_path, method: :post, html: { class: "form-horizontal"} do |form| %>

			<h4>Q1: In NRAD, a key message was that patients failed to get help in time. What percentage of patients who died had not been given a personal asthma action plan?</h4>

				<%= form.input :question1, as: :radio_buttons, collection: ['25%', '50%', '75%'], label: false %>
				<br>

			<h4>Q2: A key action identified by NRAD is to ensure an accurate diagnosis of asthma and cause of death. Of the patients considered to have died of asthma, what percentage had no evidence of asthma?</h4>
				<%= form.input :question2, as: :radio_buttons, collection: ['10%', '20%', '30%'], label: false %>
				<br>

			<h4>Q3: Asthma control must be assessed in order to classify severity. What percentage of patients in NRAD had no assessment of asthma control?</h4>

				<%= form.input :question3, as: :radio_buttons, collection: ['15%', '19%', '24%'], label: false %>
			  </div>

				  <fieldset class="actions">
				    <%= form.submit "Submit", class: 'btn btn-primary btn-large' %>
				  </fieldset>
			<% end %>
		</div>
	</div>
</div>
