<!-- User info -->
<p>
	<strong>Name:</strong> <%= @user.name %>
</p>
<p>
	<strong>Email Address:</strong> <%= @user.email %>
</p>


<h1>First Interactive Question: <%= @firstinteractive.lecture %></h1>

<p>Q1: How relevant did you find the information presented to your day to day clinical work:</p>

<p><%= @firstinteractive.question1 %></p>

<p>Q2: How did you find the amount of information presented?</p>

<p><%= @firstinteractive.question2 %></p>

<p>Q3: How likely is it that you will change your clinical practice as a result of what you have learned from this webinar?</p>

<p><%= @firstinteractive.question3 %></p>
