<!-- User info -->
<p>
	<strong>Name:</strong> <%= @user.name %>
</p>
<p>
	<strong>Email Address:</strong> <%= @user.email %>
</p>


<h1>Feedback for lecture: <%= @feedback.lecture %></h1>

<p>Q1: How relevant did you find the information presented to your day to day clinical work:</p>

<p><%= @feedback.relevance %></p>

<p>Q2: How did you find the amount of information presented?</p>

<p><%= @feedback.info_presented %></p>

<p>Q3: How likely is it that you will change your clinical practice as a result of what you have learned from this webinar?</p>

<p><%= @feedback.likelihood_change %></p>

<p>If you answered ‘very likely’ or ‘quite likely’ to the last question, please explain how in the following box:</p>

<p><%= @feedback.body %></p>

<p>Q4: How did you find the technical quality of the webinar?</p>

<p><%= @feedback.technical %></p>

<p>Please add any further comments below:</p>

<p><%= @feedback.comment %></p>