<div class="jumbotron">
	<%= render 'layouts/title' %>			
	<div class="col-md-10 col-offset-1" align="center">
				<p style="color:#00365C; font-size: 18px;">Please select whether you would like to:</p>
				<%= link_to 'Register', new_user_registration_path, class: "btn btn-danger btn-large" %>
				<%= link_to 'Login', login_path, class: "btn btn-primary btn-large" %>
				<br />
				<p><small style="font-size: 12px;"><%= link_to "Having trouble logging in?", help_path %></small></p>
			</div>
		</div>
	</div>
	<br />
<br />
<div class="col-md-8 col-md-offset-1" style="margin-top: 375px;">

	<%= render 'layouts/prefooter' %>

</div>
